*{
    padding: 0,10%;
    margin:0,10%;
}
body{
    background-color: mediumblue;
}

h1{
    color:yellow;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    
}
.titulo{color: yellow;
    font-style: italic;
    font-size: 30px;
}
h3{
    font-style: italic;
}
body{color: yellow;
}
.logo__principal{
    width: 100px;
    height: 120px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    
}
.primer__equipo{
    border-radius:3%;
    width: 700px;
    margin: 4%;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    justify-content: center;
}
.jugadores__figuras{
    width: 200px; 
    height: 200px;
    border-radius: 3%;
}
.opciones__menu{
    color: yellow;
    list-style: none;
    display: grid;
    justify-content: center;
}
.final__pagina{
    text-align: center;
}
.sector__item{
    width: 20rem;
    height: 18rem;
    margin: 0px;
    padding: 0px;;
}
.sector__imagenes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    d
    
}
.elgeneral{
    width: auto;
    margin: auto;
}
main{
    background-color: gold;
    color:blue
}
.encabezado{
    background: linear-gradient(to bottom, mediumblue, yellow)

}

